$orange-lighter: #fcc38e;
$orange-light:   #fbb676;
$orange:         #faa95d;
$orange-dark:    #f99c44;
$orange-darker:  #f88213;

$red-lighter:    #fc8e91;
$red-light:      #fb7678;
$red:            #fa5d60;
$red-dark:       #d1070a;
$red-darker:     #a00508;

$teal-lighter:   #00def7;
$teal-light:     #00c7de;
$teal:           #00b0c4;
$teal-dark:      #008291;
$teal-darker:    #006b78;

$gray-lighter:   #ebeaea;
$gray-light:     #dedddd;
$gray:           #c4c4c3;
$gray-dark:      #a3a2a1;
$gray-darker:    #70706d;

$black:          #2d2d2d;
