@import 'colors';

$font-family: 'Sarabun', sans-serif;
$font-size-base: 1em;
$font-size-caption: 0.8em;

$font-family-heading: 'ZCOOL QingKe HuangYou', cursive;
$font-size-h1: 4em;

// Colors
$background-color: $gray-lighter;
$regular-font-color: $black;
